# Python virtual environment
.venv/

# Ignore all content inside data folder
runs/
data/
scripts/training/models/

# Keep the folder but ignore its contents:
data/*
!data/.gitkeep
!data/datasets/camera/data.yaml

# Ignore typical dataset files
*.bin
*.pcd
*.png
*.jpg
*.jpeg
*.npy
*.npz
*.json
*.csv

# Ignore processed nuscenes and raw nuscenes data
data/processed/nuscenes/
data/raw/nuscenes/