# Python virtual environment
.venv/

# Ignore all content inside data folder
runs/
scripts/training/models/

# Ignore all contents of data/ recursively
data/**

# But allow structure and specific file
!data/
!data/datasets/
!data/datasets/camera/
!data/datasets/camera/data.yaml
!data/.gitkeep

# Ignore typical dataset files
*.bin
*.pcd
*.png
*.jpg
*.jpeg
*.npy
*.npz
*.json
*.csv

# Ignore processed nuscenes and raw nuscenes data
data/processed/nuscenes/
data/raw/nuscenes/